.footer {
    display: flex;
    flex: 1;
    padding: 2rem 0;
    border-top: 1px solid #eaeaea;
    background-color: #fafafa;
    color: gray;
    width: 100%;
    justify-content: center;
    align-items: center;
  }
  